<div class="capAplicacio">
    <h1 class="titolAplicacio">VINOTECA</h1>
    <h2 class="tComanda"><label for="cerca">CERCADOR</label>
        <input name="searchBox"
        [(ngModel)]="searchString"
        placeholder="Search Here"
        (keyup)="search()">   
    </h2>
</div>
<div class="llistaVins">
    <div *ngFor="let vi of SWine.winelist">
        <app-wineitem 
            (addEvento)="addGetWine($event)" 
            (substractEvento)="substractGetWine($event)" 
            [wine] = "vi">
        </app-wineitem>
        
    </div>
</div>
