<div class="container">
    <div class="vino"
    [ngClass] = 'wineClasses' 
    *ngIf="wine!==null">
        <img class="miniatura" src="{{wine.imageUrl | defaultImageURL}}" alt='{{wine.name}}'>
        <h2>{{wine.name}}</h2>
        <p class="preu">Preu: {{wine.price | price}}</p>
        <div *ngIf="wine.isOnSale" class="pieVino">
            <div class="unitsContainer">
                <button 
                (click)="subtractQuantity()"
                *ngIf="wine.quantityInCart>0"
                >-</button>
                <p class="units" >{{wine.quantityInCart}}</p>
                <button (click)="addQuantity()">+</button>
            </div>
            <!-- <div class="total">
                TOTAL: {{wine.total}}
            </div> -->
        </div>   
        
    </div>
</div>
